@charset "utf-8";

body{
    background-color:#FFFFFF;
    line-height:30px;
    margin:10px 10px 10px 10px;
    font-family:Monaco,Andale Mono,Courier New,monospace;
}
table{
    border:1px;
    border-style:solid;
    border-color:#CCCCCC;
    border-collapse:collapse;
    color:#000000;
    line-height:30px;
    width:100%;
}
td{
    border:1px;
    border-style:solid;
    border-color:#CCCCCC;
    letter-spacing:1px;
    padding:6px;
    text-align:center;
}
th{
    border:1px;
    color:#000000;
    border-style:solid;
    border-color:#CCCCCC;
    letter-spacing:1px;
    padding:6px;
    text-align:center;
    background-color:#F1F1F1;
}
tr:hover{
    background-color:#F1F1F1;
}
hr{
    margin-left:6px;
    margin-right:6px;
    margin-top:3px;
    margin-bottom:3px;
    border-top:1px solid #BEC0C2;
    border-bottom:1px solid #BEC0C2;
}
h1, h2, h3, h4, h5, h6{
    font-weight:bold;
    font-family:华文细黑,serif;
}
h1{
    font-size:2.5em;
}
h2{
    font-size:2.1em;
}
h3{
    font-size:1.8em;
}
h4{
    font-size:1.5em;
}
h5{
    font-size:1.3em;
}
h6{
    font-size:1em;
}
a:link{
    color:#333333;
    text-decoration:none;
}
a:visited{
    color:#333333;
    text-decoration:none;
}
a:hover{
    color:#F05A28;
    text-decoration:none;
}
button{
    border:1px solid #CCCCCC;
    background-color:#E2E2E2;
    font-size:0.9em;
    padding:6px 10px 6px 10px;
    cursor:pointer;
}
button:hover{
    background-color:#CCCCCC;
}
.mfu_btn_warning{
    border:1px solid #CCCCCC;
    background-color:#FF3300;
    color:#FFFFFF;
    font-size:0.9em;
    padding:6px 10px 6px 10px;
    cursor:pointer;
}
.mfu_btn_warning:hover{
    background-color:#CC3300;
}
.mfu_btn_submit{
    border:1px solid #CCCCCC;
    background-color:#F05A28;
    color:#FFFFFF;
    font-size:0.9em;
    font-style:bold;
    padding:6px 10px 6px 10px;
    cursor:pointer;
}
.mfu_btn_submit:hover{
    background-color:#CC6633;
}
input[type="text"]{
    width:100px;
    height:30px;
    font-size:1.0em;
    padding-left:6px;
    border:1px solid #CCCCCC;
}
.wdh-200{
    width:200px !important;
    font-size:0.9em !important;
}
.mfu_type_tab{
    border-radius:6px;
    font-size:1em;
    padding:6px;
    margin:2px;
    color:#FFFFFF;
}
blockquote{
    border-left:2px solid #FF0000;
    padding-left:20px;
    background-color:#F1F1F1;
}
.mfu_ckb{
    border:1px solid #BBBBBB;
    padding-left:5px;
    padding-right:12px;
    margin-left:2px;
    margin-right:6px;
}
input[type="checkbox"]:checked + label {
    background:#F05A28;
}
.mfu_ckb:hover{
    border:1px solid #F05A28;
}
input[type="checkbox"]{
    display:none;
}
select{
    border:1px solid #CCCCCC;
    font-size:0.8em;
    width:100px;
    height:30px;
    padding:0px 5px 0px 5px;
}